example:
    property: "我是默认的机构配置"

# 配置数据源
spring:
  datasource:
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    url: ""
    username: ""
    password: ""
    testWhileIdle: "true"
    validationQuery: "SELECT 1"
  jpa:
    properties.hibernate.dialect: "org.hibernate.dialect.MySQL8Dialect"
    open-in-view: "false"
    show-sql: "true"
   # 配置mq
  rabbitmq:
      password:
      username:
      addresses:
      port: 5672
    # 配置 spring cloud stream
  cloud:
      stream:
        rabbit:
          bindings:
            packetUplinkInput:
              consumer:
                republishToDlq: false
        bindings:
          # 通道名称, 对于 source.output() 的通道
          #   output:
          outputBound:
            # 推送的主题名称
            destination:  orgChangeTopic
            # 数据的类型
            content-type: application/json
  zipkin:
    sender:
        type: rabbit

# 配置 actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'

# 配置 oauth
security:
  oauth2:
    resource:
      user-info-uri: http://localhost:7024/auth/users/me

jwt:
  sign:
    key: qwe123qwe