server:
  port: 7017
spring:
  profiles:
    # 使用文件系统存储配置信息
    active: native
  cloud:
    config:
       server:
        bootstrap: true
        encrypt:
            enabled: false
       git:
        # 配置 Git服务器 和 Git存储库 的URL
        uri: https://github.com/Nza6920/spring-microservice-in-action-note-conf
        # 配置在 Git 中查找配置文件的路径
        searchPaths: licensingservice,organizationservice
        username:
        password:
        # 使用文件系统
        #native:
        # 指定配置文件位置
        #search-locations:
        #- classpath:/config/licensingservice
        #- classpath:/config/organizationservice

eureka:
  instance:
    # 注册服务的 IP 而不是名称
    prefer-ip-address: true
  client:
    # 注册自身到 eureka
    register-with-eureka: true
    # 在本地缓存注册表 每隔 30s 自动刷新服务
    fetch-registry: true
    service-url:
      # 配置注册中心地址
      defaultZone: http://localhost:7018/eureka/
