example:
    property: "我是默认的路由检索配置"

# 配置数据源
spring:
  datasource:
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    url: ""
    username: ""
    password: ""
    testWhileIdle: "true"
    validationQuery: "SELECT 1"
  jpa:
    properties.hibernate.dialect: "org.hibernate.dialect.MySQL8Dialect"
    open-in-view: "false"
    show-sql: "true"

# 配置 actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'

# 配置 oauth
#security:
#  oauth2:
#    resource:
#      user-info-uri: http://localhost:7024/auth/users/me

jwt:
  sign:
    key: qwe123qwe